<html>
<head>

</head>

<body>

<h1>Schedule Planner</h1>

<table border="1px solid black">
    <tr>
        <td>
            ID
        </td>
        <td>
            Weekday
        </td>
        <td>
            start time
        </td>
        <td>
            end time
        </td>
        <td>
            target temperature
        </td>
        <td>
            socket
        </td>
    </tr>
    {% for item in data %}
    <tr>
        {% for part in item %}
        <td>
            {{part}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h2>delete schedule</h2>
<form method="post">
    id of schedule to delete:
    <input type="hidden" name="action" value="delete"></input>
    <input type="text" name="id"></input>
    <input type="submit" value="delete"></input>
</form>

<h2>add schedule</h2>
<form method="post">

    <input type="hidden" name="action" value="add"></input>
    weekday:
    <input type="text" name="weekday" placeholder="0"></input></br>
    starttime:
    <input type="text" name="starttime" placeholder="10:00"></input></br>
    endtime:
    <input type="text" name="endtime" placeholder="12:00"></input></br>
    temperature:
    <input type="text" name="temperature" placeholder="20"></input></br>
    socket:
    <input type="text" name="socket" placeholder="0"></input>

    <input type="submit" value="add"></input>
</form>



</body>
</html>